[submodule "vim/base/vim-coffee-script"]
	path = vim/base/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/base/ack"]
	path = vim/base/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/base/vim-indent-guides"]
	path = vim/base/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
